<div class="container d-flex justify-content-center align-items-center myfs-container ">
    <div class="row">
     <div class="col-12">
         <h1 class="text-center">Transfer to Operators</h1>
     </div>
     <div class="col">
         <div class="card mt-3">
             <div class="card-header">
                 Transfers
             </div>
             <div class="card-body">
                 <h5 class="card-title">Transfers to operator</h5>
                 <p class="card-text">Here you can make your transfer to another operator.</p>
                 <p class="card-text">This section allows you to transfer documents to different operators. Ensure that you have selected the correct operator before proceeding with the transfer.</p>
                 <a [routerLink]="['/transfers']" class="btn btn-primary">Transfer</a>
                 
             </div>
         </div>
         
     </div>
    </div>
  
 </div>