<div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner"></div>
  </div>

<div class="container d-flex justify-content-center align-items-center login-container">
    <form action="" [formGroup]="registerForm" (ngSubmit)="register()" class="w-100" style="max-width: 700px;">
        <h1 class="text-center">Myfs</h1>
        <div class="row">
           
            <div class="col-12 my-2">
                <label for="formGroupEmailInputLogin" class="form-label">Email</label>
                <input formControlName="email" type="email" class="form-control" id="formGroupEmailInputLogin"
                    placeholder="Email" autocomplete="email">
                <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
                    class="fs-7 text-danger my-2">
                    The email must be valid
                </div>
            </div>
            <div class="col-12 my-2">
                <label for="formGroupidDocumentInputLogin" class="form-label">Document number</label>
                <input formControlName="idDocument" type="text" class="form-control" id="formGroupidDocumentlInputLogin" maxlength="10"
                    placeholder="Document number">
                <div *ngIf="registerForm.get('idDocument')?.invalid && registerForm.get('idDocument')?.touched"
                    class="fs-7 text-danger my-2">
                    The document don't be empty
                </div>
            </div>
            <div class="col-12 my-2">
                <label for="formGroupAddressInputLogin" class="form-label">Address</label>
                <input formControlName="address" type="text" class="form-control" id="formGroupAddresslInputLogin"
                    placeholder="Address">
                <div *ngIf="registerForm.get('address')?.invalid && registerForm.get('address')?.touched"
                    class="fs-7 text-danger my-2">
                    The Address don't be empty
                </div>
            </div>
            <div class="col-12 my-2">
                <button class="btn btn-primary w-100 mt-4 mb-2" type="submit"[disabled]="!registerForm.valid">Register</button>
                <button class="btn btn-success w-100  mb-2" type="button" (click)="login()">Login</button>
            </div>
           

        </div>
    </form>
</div>
